@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #333333;
    --secondary-color: #6d9773;
    --accent1-color: #ffffff;
    --accent2-color: #ffba00;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #f70759;
    --nav-link-color: #fff;
    --nav-hover-link-color: #6d9773;
    --nav-hover-background-color: #f70759;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--paragraph-font);
    background-color: #ffffff;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}


h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

header {
    background-color: var(--accent1-color);
    justify-content: center;
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}

nav a {
    color: var(--nav-link-color);
    display: flex;
    font-weight: 700;
    text-decoration: none;
    padding: 0.7em;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    text-align: center;
}

/*Carrusel Video*/
.video-carousel {
    width: 100%;
    height: 70vh;
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.video-slide {
    flex: 0 0 100%;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.h1-video {
    font-size: 2.5rem;
    color: #fff;
    text-align: left;
    font-family: var(--paragraph-font);
}

.active {
    transform: translateX(0);
}

/*Boxes*/
.box1 {
    width: 90%;
    /* Ancho deseado de la caja */
    height: 100px;
    /* Alto deseado de la caja */
    background-color: #ddd;
    /* Color de fondo de la caja */
    border: 2px solid #ddd;
    /* Borde con color */
    border-radius: 10px;
    /* Borde redondeado */
    margin: 20px;
    /* Margen exterior para la posición */
    padding: 10px;
    /* Relleno interno para el contenido */
    text-align: center;
    /* Alineación del contenido al centro */
    color: #000;
    /* Color del texto dentro de la caja */
    font-size: 16px;
    /* Tamaño de fuente del texto */
    font-family: 'Roboto', sans-serif;
    /* Fuente del texto */
}

.box2 {
    width: 90%;
    height: 200px;
    background-color: #ddd;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.box2 ul {
    list-style-type: none;

}

.box3 {
    width: 90%;
    height: 200px;
    background-color: #ddd;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.box3 ul {
    list-style-type: none;
}